@model Cooperativa_Multiservicios_Los_Patitos_R_L_Grupo_7.Models.Reservas

<h2>Detalle de la Reserva</h2>

<p><strong>Nombre:</strong> @Model.NombreDelAsociado</p>
<p><strong>Identificación:</strong> @Model.Identificacion</p>
<p><strong>Correo:</strong> @Model.Correo</p>
<p><strong>Fecha Servicio:</strong> @Model.FechaDelServicio</p>
<p><strong>Monto Total:</strong> @Model.MontoTotal</p>